.footer {
    color: blueviolet;
    background-color: #3D348B;
    display: grid;
    justify-content: center;
    padding: 2rem;
  }

  .footerTexto {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    width: 50vw;
    justify-content: center;
    align-content: space-around;
    justify-items: start;
    align-items: stretch;
  }
  
  .footerTexto li {
    list-style: none;
    font-size: 2rem;
    color: white;
    
  }