.navbar {
    background-color: #3D348B !important;
   

}

.collapse {
    ul {
        li {
            a{ color: white;}
        }
    }
}

.collapse {
    ul {
        li {
            a {
                color: white;
            }
        }
    }
}

.container-fluid {
    align-content: space-around !important;
    text-align: end !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: rgb(255, 255, 255);
    text-align: end;

}

.block {
    color: white;
}

.brand {
    width: 155px;
    height: 95px;
}
.nav-link{
    text-align: center;
}

.carousel-control-prev{
justify-content: flex-start;
}